@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1 .mbr-navbar__items a {
  font-size: 15px;
}
#header4-3 H1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}
#features1-2g .mbr-section__col .mbr-header__text SPAN {
  text-align: left;
}
#features1-2g P {
  text-align: left;
  font-size: 15px;
}
#features1-37 P {
  font-size: 15px;
}
#features1-3u P {
  font-size: 15px;
}
#content1-3v DIV {
  text-align: left;
}
#content1-3v P {
  text-align: left;
}
#content1-3v H3 {
  text-align: center;
}
#content1-3v B {
  color: #000000;
}
#testimonials1-32 .mbr-section__header {
  color: #cccccc;
}
#header1-3f P {
  color: #ffffff;
}
#contacts2-3g P {
  text-align: center;
}
#contacts2-3g STRONG {
  text-align: center;
}
#footer1-3h B {
  color: #c1c1c1;
  text-align: center;
  font-size: 12px;
}
#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-c .mbr-navbar__items a {
  font-size: 14px;
}
#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-e .mbr-navbar__items a {
  font-size: 14px;
}
